{% from "_formhelpers.html" import render_field %}
{% extends "layout.html" %}
{% block title %}{% if user is defined %}{{ user.username }}{% endif %}s{% endblock %}
{% block body %}
    {% if message is defined %}
	<pre>{{ message }}</pre>
    {% endif %}
    {% if form is defined %}
	<h2>Add a Product</h2>
	<form method="POST" action="/product/">
	    {{ form.csrf_token }}
	    {{ render_field(form.url) }}
	    {{ render_field(form.notify_price) }}
	    <input type="submit" value="Go">
	</form>
    {% endif %}
    <h2>Your Products</h2>
    {{ products }}
	{% for product in products %}
	    product / use partials here
	{% endfor %}
{% endblock %}
