{% from "helpers.html" import render_field %}
{% from "helpers.html" import render_page_title %}
{% extends "template_normal.html" %}
{% block title %}{% if user is defined %}{{ user.username }}{% endif %}s{% endblock %}

{% block page_title %}
	{{ render_page_title("Dashboard") }}
{% endblock %}

{% block content %}
    {% if message is defined and message != None %}
		<pre>{{ message }}</pre>
    {% endif %}
    {% if form is defined %}
		<h2 class="">Add a Product</h2>
		<form class="form-search" style="align:center"  method="POST" action="/product/">
		    {{ form.csrf_token }}
		    {{ render_field(form.brand, "select-brand input-xxlarge span2") }}
		    {{ render_field(form.url, "input-url input-xxlarge span4") }}
		    {{ render_field(form.notify_price, "input-price input-xxlarge span1") }}
            <button type="submit" class="btn btn-xxlarge btn-teal add-product">Add</button>
		</form>
    {% endif %}
   	<hr>
    <h2 class="">Your Products</h2>
    <ul class="products">
	{% for product in products %}
		<li class="product">{{ product }}</li>
	{% endfor %}
	<li class="product">
		<div class="product-box">
			<div>
				 <p class="product-name">Wood Wood Kellog Tee</p>
				<img src="../static/img/screenshot.jpg">
				<p class="product-price"> $110</p>
				</div>
			</div>
		</li>
	<li class="product">
	<div class="product-box">
			<div>
				<p class="product-name">Wood Wood Kellog Tee</p>
				<img src="../static/img/screenshot.jpg">
				<p class="product-price"> $110</p>
				</div>
			</div>
		</li>
	<li class="product">
	<div class="product-box">
			<div>
				<p class="product-name">Wood Wood Kellog Tee</p>
				<img src="../static/img/screenshot.jpg">
				<p class="product-price"> $110</p>
				</div>
			</div>
		</li>
	<li class="product">
	<div class="product-box">
			<div>
				<p class="product-name">Wood Wood Kellog Tee</p>
				<img src="../static/img/screenshot.jpg">
				<p class="product-price"> $110</p>
				</div>
			</div>
		</li>
	<li class="product">
	<div class="product-box">
			<div>
				<p class="product-name">Wood Wood Kellog Tee</p>
				<img src="../static/img/screenshot.jpg">
				<p class="product-price"> $110</p>
				</div>
			</div>
		</li>
</ul>
{% endblock %}
