{% extends "template_normal.html" %}
{% block content %}

  <hr style="display:none">

  <div class="jumbotron">
    
    <div class="span5">
      <h1>Be first to know<br>when it's on sale.</h1>
      <p class="lead"> </p>
    </div>

    <div class="sign-up span3">
      <form class="form-signup">
        <h3 class="form-signin-heading">Sign up free!</h2>
        <a href="/register/" class="btn btn-teal custom-btn" style="width: 220px;" type="submit">Sign Up</a>
      </form>
    </div>

  </div>

{% endblock %}