{% extends "layout.html" %}

{% block body %}
  <div class="masthead" style="display: none">
    <ul class="nav nav-pills pull-right">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
    <h3 class="muted">PriceChecker.py</h3>
  </div>

  <hr style="display:none">

  <div class="jumbotron">
    <h1>PriceChecker.py</h1>
    <p class="lead">Have price checker keep track of prices for you so you don't have to!</p>
    <a class="btn btn-large btn-info" style="margin-right: 10px" href="/login">Login</a>
      <a class="btn btn-large btn-info" style="margin-right: 10px" href="/logout">logout</a>
    <a class="btn btn-large btn-info" href="/register">Register</a>
  </div>

{% endblock %}