{% from "helpers.html" import render_field %}
{% from "helpers.html" import render_page_title %}
{% extends "layout.html" %}

{% block title %}Login{% endblock %}
{% block page_title %}{{ render_page_title("Login") }}{% endblock %}

{% block body %}
    {% if error != None %}
    	{% for error in form.username.errors %}
    	    <li>{{ error }}</li>
    	{% endfor %}
    {% endif %}
    <div class="login">
      <form class="form-signin" method="POST" action="">
        <h3 class="form-signin-heading">Welcome!</h2>
        {{ form.csrf_token }}
        {{ render_field(form.username) }}
        {{ render_field(form.password) }}
        <button class="custom-btn btn btn-large btn-teal" type="submit">Log In</button>
      </form>
    </div>
  </div>
{% endblock %}